@keyframes blink {
  0% {
    opacity: 100%; }
  10% {
    opacity: 50%; }
  20% {
    opacity: 100%; }
  30% {
    opacity: 50%; }
  40% {
    opacity: 100%; }
  50% {
    opacity: 50%; }
  60% {
    opacity: 100%; }
  70% {
    opacity: 50%; }
  80% {
    opacity: 100%; }
  90% {
    opacity: 50%; }
  100% {
    opacity: 100%; } }

@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 0.80;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 0.80;
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes Appear {
  0% {
    transform: scale(0);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 100%; } }

@keyframes MoveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth; }

.heading-special {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  animation: MoveInRight 1s 0.5s ease-out;
  animation-fill-mode: backwards;
  text-shadow: 0 0.5rem 1rem #ffff00; }

.sub-heading-special {
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  animation: MoveInLeft 1s 0.5s ease-out;
  animation-fill-mode: backwards;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6); }

.heading-usual {
  padding-top: 6rem;
  font-family: 'Calligraffitti', cursive;
  font-size: 7rem;
  display: block;
  color: #ff00ff;
  text-shadow: 0rem 4rem 6rem rgba(255, 0, 255, 0.8);
  text-align: center;
  letter-spacing: 0.5rem;
  transition: all 0.2s;
  backface-visibility: hidden;
  font-weight: 1000; }
  .heading-usual:hover, .heading-usual:active {
    transform: scale(1.15);
    font-weight: 1000; }

.heading-usual-3 {
  padding-top: 6rem;
  font-family: 'Calligraffitti', cursive;
  font-size: 7rem;
  display: block;
  color: #00ff00;
  text-shadow: 0rem 4rem 6rem rgba(0, 0, 0, 0.8);
  text-align: center;
  letter-spacing: 0.5rem;
  transition: all 0.2s;
  backface-visibility: hidden;
  font-weight: 1000; }
  .heading-usual-3:hover, .heading-usual-3:active {
    transform: scale(1.15);
    font-weight: 1000; }

.heading-usual-2 {
  padding-top: 6rem;
  font-family: 'Calligraffitti', cursive;
  font-size: 7rem;
  display: block;
  color: #8A5120;
  text-shadow: 0rem 4rem 6rem rgba(0, 0, 0, 0.8);
  text-align: center;
  letter-spacing: 0.5rem;
  transition: all 0.2s;
  backface-visibility: hidden;
  font-weight: 1000; }
  .heading-usual-2:hover, .heading-usual-2:active {
    transform: scale(1.15);
    font-weight: 1000; }

.sub-heading-usual {
  font-size: 2.5rem;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 1rem 0; }
  .sub-heading-usual--strike {
    text-decoration: line-through; }

.standard-text {
  font-size: 1.7rem;
  color: #3C3B3E;
  text-align: justify; }

.standard-text--bold {
  font-size: 1.7rem;
  color: #3C3B3E;
  text-align: justify;
  font-weight: bold; }

.nice-heading {
  transform: skewY(0deg);
  font-size: 6rem;
  text-align: center;
  color: yellow;
  padding-top: 6rem;
  letter-spacing: 0.2rem;
  font-family: 'Calligraffitti', cursive;
  text-shadow: 0rem 2rem 4rem rgba(255, 255, 0, 0.8);
  transition: all 0.2s; }
  .nice-heading:hover, .nice-heading:active {
    transform: scale(1.15);
    font-weight: 1000; }

.rating-text {
  font-weight: bold;
  margin-top: 2rem;
  color: red;
  font-size: 2rem;
  text-align: center; }

.white-text {
  color: #ffffff;
  font-size: 1.7rem;
  text-decoration: none; }

.heading--margin--bottom--large {
  margin-bottom: 8rem; }

.heading--margin--bottom--medium {
  margin-bottom: 4rem; }

.heading--margin--bottom--small {
  margin-bottom: 2rem; }

.heading--margin--top--large {
  margin-top: 8rem; }

.margin--top--small {
  margin-top: 2rem; }

.heading--margin--both--large {
  margin-top: 8rem;
  margin-bottom: 8rem; }

.center-align {
  text-align: center; }

.lol {
  position: relative; }

.base {
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 0, 0.5)), url(img/home1.jpg);
  background-size: cover;
  background-position: bottom;
  background-position: left;
  height: 110vh; }

.sidebox {
  display: block;
  position: absolute;
  bottom: 30%;
  right: 10%;
  text-align: center; }

.sidelogo {
  text-align: center;
  margin-bottom: -4em;
  animation: Appear 1.5s;
  animation-fill-mode: backwards; }

@media only screen and (max-width: 820px) {
  .lol .base .sidebox {
    top: 20%; }
    .lol .base .sidebox .sub-heading-special {
      font-size: 2.5rem; } }

.navbar {
  box-sizing: border-box;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  border-radius: 2.7rem;
  margin-top: 1rem;
  z-index: 100;
  height: 5.4rem;
  width: 100%; }
  .navbar:hover {
    background-color: #000000;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6); }
  .navbar__menu {
    float: left; }
    .navbar__menu ul {
      position: absolute;
      margin-left: 4em; }
    .navbar__menu li {
      transition: all 0.2s;
      float: left;
      list-style: none;
      padding-top: 1.8rem;
      text-align: center;
      font-size: 1.8em;
      font-weight: bold;
      color: #ffff00;
      padding-bottom: 1.5rem;
      padding-left: 1.8rem;
      padding-right: 1.8rem; }
      .navbar__menu li:hover {
        color: #000000;
        background-color: rgba(138, 81, 32, 0.9);
        box-shadow: 0rem 2rem 3rem rgba(138, 81, 32, 0.9); }
      .navbar__menu li a:link,
      .navbar__menu li a:visited {
        text-decoration: none;
        color: #ffff00; }
  .navbar__logo {
    margin-left: 2em;
    float: left; }
    .navbar__logo img {
      height: 5.2rem; }

.menu-icon {
  margin-bottom: 0.6rem;
  margin-top: 0.8rem;
  margin-left: 3rem;
  font-size: 3rem;
  color: #ffff00;
  display: none; }

#covid19 {
  box-sizing: border-box;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 1.7rem;
  padding-left: 1rem;
  padding-bottom: 1.3rem;
  padding-right: 1rem;
  border-top-right-radius: 2.7rem;
  border-bottom-right-radius: 2.7rem; }
  #covid19:hover {
    box-sizing: border-box;
    background-color: rgba(138, 81, 32, 0.8);
    box-shadow: 0 2rem 4rem rgba(138, 81, 32, 0.6); }
  #covid19 a:link, #covid19 a:visited {
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: 5;
    text-decoration: none;
    color: #ffffff; }
  #covid19 a:hover {
    animation-play-state: paused; }

#toggle {
  display: none; }

@media only screen and (max-width: 1280px) {
  .navbar__menu li {
    text-align: center;
    display: none; }
  .navbar__menu label {
    display: block;
    cursor: pointer; }
  #toggle:checked + ul li {
    background-color: black;
    box-shadow: none;
    display: block;
    width: 50%;
    text-align: left; }
    #toggle:checked + ul li:hover {
      background-color: rgba(138, 81, 32, 0.9);
      box-shadow: 2rem 0rem 4rem rgba(0, 0, 0, 0.6); } }

@media only screen and (max-width: 460px) {
  .navbar {
    height: 3.8rem;
    border-radius: 2.7rem; }
    .navbar__logo img {
      height: 3.8rem; }
    .navbar__menu li {
      font-size: 1.5rem;
      font-weight: initial; }
  #covid19 {
    font-size: 1.5rem;
    padding-top: 1rem; }
    #covid19 a {
      padding-top: 0.4rem; }
  .menu-icon {
    font-size: 1.8rem; } }

.heading-button {
  letter-spacing: 0.3rem;
  text-decoration: none;
  border-radius: 2em;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding: 1.7rem 4rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem; }
  .heading-button:link, .heading-button:visited {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
    background-color: #00ff00;
    color: #000000;
    animation: MoveInBottom 1s 1.5s ease-in-out;
    animation-fill-mode: backwards; }
  .heading-button:hover {
    color: #000000;
    font-weight: bold;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
    background-color: #ffff00;
    transition: all 0.2s;
    transform: translateY(-0.3rem); }
  .heading-button:active {
    font-weight: bold;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
    background-color: #ffff00;
    color: #000000;
    transform: translateY(-0.1rem);
    transition: all 0.2s; }

.back-to-top {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  text-decoration: none;
  z-index: 100;
  padding-top: 0.5rem;
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 13rem;
  height: 3rem;
  border-radius: 1rem;
  text-align: center; }
  .back-to-top:link, .back-to-top:visited {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffff00; }
  .back-to-top:hover {
    color: #ffff00;
    font-weight: bold;
    background-color: black;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.6); }
  .back-to-top:active {
    color: #000000;
    background-color: yellow;
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.6);
    font-weight: bold; }

.images {
  position: relative; }
  .images__general {
    width: 40%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    outline-offset: 2rem;
    transition: all 0.2s;
    backface-visibility: hidden; }
    .images__general--book {
      right: 10%;
      top: 15rem; }
    .images__general--decor {
      left: 0%;
      top: 0rem; }
    .images__general--laptop {
      right: 0;
      top: 0rem; }
    .images__general--clothes {
      left: 30%;
      top: 6rem; }
    .images__general:hover {
      transform: scale(1.1);
      z-index: 11;
      outline: ridge #692526 1.7rem;
      outline-offset: 1.2rem; }
  .images:hover .images__general:not(:hover) {
    filter: blur(2.5px);
    transform: scale(0.95); }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20000;
  opacity: 0;
  visibility: hidden; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__content {
    background-color: skyblue;
    padding: 1.5rem;
    width: 60%;
    box-shadow: 0rem 2rem 4rem grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    text-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.7); }
    .popup__content--cross {
      font-weight: bold;
      font-size: 4rem;
      position: absolute;
      top: 0;
      right: 1rem; }
      .popup__content--cross a:link,
      .popup__content--cross a:visited {
        text-shadow: none;
        text-decoration: none;
        color: rgba(255, 0, 0, 0.4); }
      .popup__content--cross a:hover {
        z-index: 20000;
        text-decoration: none;
        color: red;
        text-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.7); }

.imp {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  box-shadow: 0rem -3rem 4rem yellow;
  background-color: yellow;
  height: 85rem;
  font-weight: 900;
  padding: 4rem; }

@media only screen and (max-width: 900px) {
  .imp {
    height: 105rem;
    text-align: center; }
    .imp .row {
      width: 95%;
      display: inline-block; }
      .imp .row::after {
        content: "";
        display: table;
        clear: both; }
      .imp .row [class^="col-"] {
        width: 100%;
        margin-bottom: 5rem; }
        .imp .row [class^="col-"] .heading--margin--bottom--small .sub-heading-usual {
          font-size: 2rem; }
        .imp .row [class^="col-"] .heading--margin--bottom--small .usual-text {
          font-size: 1.5rem; }
      .imp .row .col-60-of-100 .images__general:hover {
        outline: ridge #692526 1rem;
        outline-offset: 0.7rem;
        transform: scale(1.2); }
      .imp .row .col-60-of-100 .images:hover .imp .row .col-60-of-100 .images__general:not(:hover) {
        transform: scale(0.9); } }

@media only screen and (max-width: 560px) {
  .imp {
    height: 85rem; }
  .imp .heading--margin--bottom--large .heading-usual-2 {
    font-size: 6rem; } }

@media only screen and (max-width: 505px) {
  .imp .heading--margin--bottom--large .heading-usual-2 {
    font-size: 4rem; }
  .imp .heading--margin--bottom--large {
    margin-bottom: 3rem; } }

.surprises-base {
  margin-top: 0vh;
  height: 75rem;
  padding: 1rem;
  background-image: linear-gradient(to bottom, #ffff00, #8a5120); }

@media only screen and (max-width: 820px) {
  .surprises-base {
    height: 125rem;
    text-align: center; }
    .surprises-base .row {
      width: 90%;
      display: inline-block;
      margin: 0;
      padding: 0; }
      .surprises-base .row [class^="col-"] {
        width: 40%;
        margin-bottom: 4rem;
        margin-left: 0; }
        .surprises-base .row [class^="col-"]:nth-child(2) {
          margin-right: 0; }
        .surprises-base .row [class^="col-"]:nth-child(1) {
          margin-left: 5%; }
        .surprises-base .row [class^="col-"]:nth-child(3) {
          margin-left: 5%; } }

@media only screen and (max-width: 500px) {
  .surprises-base {
    height: 230rem;
    text-align: center; }
    .surprises-base .row {
      width: 90%;
      display: inline-block;
      margin: 0;
      padding: 0; }
      .surprises-base .row [class^="col-"] {
        width: 100%;
        margin-bottom: 4rem; }
        .surprises-base .row [class^="col-"]:nth-child(1) {
          margin-left: 0;
          margin-right: 0; }
        .surprises-base .row [class^="col-"]:nth-child(3) {
          margin-left: 0;
          margin-right: 0; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-2-of-3 {
    width: calc(((100% - 2*6rem)/3)*2 + 6rem); }
  .row .col-1-of-3 {
    width: calc((100% - 2*6rem)/3); }
  .row .col-1-of-4 {
    width: calc((100% - 3*6rem)/4); }
    .row .col-1-of-4--center {
      display: inline-block;
      text-align: center; }
  .row .col-2-of-4 {
    width: calc((100% - 6rem)/2); }
  .row .col-3-of-4 {
    width: calc(100% - 6rem - (100% - 3*6rem)/4); }
  .row .col-40-of-100 {
    width: calc((100% - 6rem)*0.4); }
  .row .col-60-of-100 {
    width: calc((100% - 6rem)*0.6); }

.new-row {
  margin: 5rem auto 0 auto;
  position: relative;
  max-width: 90rem;
  background-color: #ffffff;
  padding: 1rem;
  height: 25rem; }
  .new-row::after {
    content: "";
    display: table;
    clear: both; }
  .new-row__row1 {
    box-shadow: 0rem 2rem 4rem rgba(0, 0, 0, 0.8);
    backface-visibility: hidden;
    transform: skewX(-2deg); }
    .new-row__row1--image {
      width: 30%;
      height: 100%;
      float: left;
      position: relative; }
      .new-row__row1--image img {
        width: 100%;
        height: 100%; }
        .new-row__row1--image img:hover {
          filter: blur(2px) brightness(0.8); }
      .new-row__row1--image--caption {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 0.2rem;
        text-align: center;
        transform: skewX(2deg) translate(-50%, 40%);
        transition: all 0.4s;
        animation-fill-mode: initial;
        opacity: 0; }
      .new-row__row1--image:hover .new-row__row1--image--caption {
        opacity: 1;
        transform: translate(-50%, -50%); }
    .new-row__row1--text {
      transform: skewX(2deg);
      padding-left: 1%;
      position: absolute;
      left: 33%;
      width: 65%; }
  .new-row__row2 {
    box-shadow: 0rem 2rem 4rem rgba(0, 0, 0, 0.8);
    backface-visibility: hidden;
    transform: skewX(2deg); }
    .new-row__row2--image {
      width: 30%;
      height: 100%;
      float: left;
      position: relative; }
      .new-row__row2--image img {
        width: 100%;
        height: 100%; }
        .new-row__row2--image img:hover {
          filter: blur(2px) brightness(0.9); }
      .new-row__row2--image--caption {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 0.2rem;
        text-align: center;
        transform: skewX(-2deg) translate(-50%, 40%);
        transition: all 0.4s;
        animation-fill-mode: initial;
        opacity: 0; }
      .new-row__row2--image:hover .new-row__row2--image--caption {
        opacity: 1;
        transform: translate(-50%, -50%); }
    .new-row__row2--text {
      transform: skewX(-2deg);
      padding-left: 1%;
      position: absolute;
      left: 33%;
      width: 65%; }

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 45rem;
  perspective: 1000px; }

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; }
  .flip-card-inner a:link,
  .flip-card-inner a:visited {
    padding: 1rem;
    position: absolute;
    text-decoration: none;
    font-size: 2.2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 1rem;
    color: rgba(0, 255, 0, 0.9);
    text-transform: uppercase;
    font-weight: bold; }
  .flip-card-inner a:hover {
    padding: 1rem;
    position: absolute;
    text-decoration: none;
    font-size: 2.2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 255, 0, 0.9);
    border-radius: 1rem;
    color: black;
    text-transform: uppercase;
    font-weight: bold; }

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); }

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  border-radius: 1.5rem; }

.flip-card-front {
  background-color: #ffffff;
  color: black;
  box-shadow: 0rem 2rem 4rem #8a5120; }
  .flip-card-front img {
    width: 100%;
    height: 20rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem; }

.flip-card-back {
  background-image: linear-gradient(to bottom, #ffffff, #ff00ff);
  box-shadow: 0rem 1.5rem 3rem yellow;
  color: #ff00ff;
  transform: rotateY(180deg); }

.simple-card {
  text-align: center;
  position: relative;
  width: 100%;
  height: 35rem;
  background-image: linear-gradient(to bottom, white, rgba(0, 255, 0, 0.9));
  box-shadow: 0rem 1.5rem 3rem rgba(0, 0, 0, 0.8);
  transition: all 0.4s;
  padding: 1rem; }
  .simple-card:hover {
    transform: translateY(-1.7rem);
    box-shadow: 0rem 2rem 4rem rgba(0, 0, 0, 0.8); }
  .simple-card img {
    display: inline-block;
    width: 60%;
    height: 40%;
    border-radius: 50%; }
    .simple-card img:hover {
      box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.8); }

.freq {
  padding-right: 3rem;
  padding-left: 1rem;
  position: relative;
  height: 180rem;
  background-image: linear-gradient(to bottom, #8a5120, yellow); }

@media only screen and (max-width: 820px) {
  .freq {
    height: 250rem;
    text-align: center; }
    .freq .nice-heading {
      font-size: 6rem; }
    .freq .row {
      width: 90%;
      display: inline-block;
      margin: 0;
      padding: 0; }
      .freq .row [class^="col-"] {
        width: 40%;
        margin-bottom: 4rem;
        margin-left: 0; }
        .freq .row [class^="col-"]:nth-child(2) {
          margin-right: 0; }
    .freq .center-align .row {
      width: 90%;
      display: inline-block;
      margin: 0;
      padding: 0; }
      .freq .center-align .row [class^="col-"] {
        width: 40%;
        margin-bottom: 4rem;
        margin-left: 0; }
        .freq .center-align .row [class^="col-"]:nth-child(1) {
          width: 0;
          margin-right: 0; }
        .freq .center-align .row [class^="col-"]:nth-child(2) {
          margin-right: 6rem; } }

@media only screen and (max-width: 650px) {
  .freq .nice-heading {
    font-size: 5rem; } }

@media only screen and (max-width: 560px) {
  .freq .nice-heading {
    font-size: 4rem; }
  .freq .row {
    width: 90%;
    display: inline-block;
    margin: 0;
    padding: 0; }
    .freq .row [class^="col-"] .simple-card .sub-heading-usual {
      font-size: 2rem; }
    .freq .row [class^="col-"] .simple-card .standard-text--bold {
      font-size: 1.5rem; }
  .freq .center-align .row {
    width: 90%;
    display: inline-block;
    margin: 0;
    padding: 0; }
    .freq .center-align .row [class^="col-"] .simple-card .sub-heading-usual {
      font-size: 2rem; }
    .freq .center-align .row [class^="col-"] .simple-card .standard-text--bold {
      font-size: 1.5rem; } }

.reviews {
  padding: 2rem;
  height: 125rem;
  background-image: linear-gradient(to bottom, #ffff00, #ffffff); }

@media only screen and (max-width: 625px) {
  .reviews .heading-usual {
    font-size: 5rem; }
  .reviews .new-row__row1 [class$="--text"] .sub-heading-usual {
    font-size: 1.8rem; }
  .reviews .new-row__row1 [class$="--text"] .standard-text {
    font-size: 1.5rem; }
  .reviews .new-row__row2 [class$="--text"] .sub-heading-usual {
    font-size: 1.8rem; }
  .reviews .new-row__row2 [class$="--text"] .standard-text {
    font-size: 1.5rem; } }

.feedback-wrap {
  filter: drop-shadow(0rem 2rem 4rem rgba(0, 0, 0, 0.8)); }

.feedback {
  margin: 5rem auto;
  max-width: 100rem;
  height: 50rem;
  background-size: cover;
  background-image: url(img/shopping-2.jpg);
  clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
  position: relative; }
  .feedback--area {
    padding: 1.5rem;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 100%;
    background-color: rgba(255, 255, 0, 0.7); }
    .feedback--area--submit {
      transform: translateY(-50%);
      border-radius: 1.5rem;
      background-color: rgba(0, 0, 0, 0.8);
      position: absolute;
      letter-spacing: 2px;
      right: 1%;
      top: 50%;
      font-size: 2rem;
      text-transform: uppercase;
      padding: 1.2rem 2.2rem;
      color: #ffff00;
      text-decoration: none;
      border: none; }
      .feedback--area--submit:hover {
        border: 4px solid #ff00ff;
        transform: translate(4px, -50%);
        background-color: black; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  width: 50%; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
    border-bottom: 3px solid rgba(255, 0, 255, 0.8); }

.form__textarea {
  text-align: left;
  width: 50%;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none; }
  .form__textarea:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
    border-bottom: 3px solid rgba(255, 0, 255, 0.8); }

@media only screen and (max-width: 700px) {
  .heading-usual-3 {
    font-size: 5rem; } }

@media only screen and (max-width: 500px) {
  .heading-usual-3 {
    font-size: 4rem; } }

.footer {
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 5rem 10rem;
  margin-top: 3rem;
  position: relative;
  height: 50vh; }
  .footer__left {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    padding-right: 5rem;
    text-align: center; }
    .footer__left img {
      padding-top: 2rem;
      display: inline-block;
      width: 25rem; }
    .footer__left--text {
      display: block;
      font-size: 1.6rem;
      color: #ffff00;
      font-family: Arial, Helvetica, sans-serif;
      padding-top: 2rem; }
  .footer__headings {
    font-weight: bold;
    display: block;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 3rem; }
  .footer__right {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 50%;
    height: 100%;
    padding-left: 5rem;
    text-align: center; }
