.feedback-wrap{
    filter: drop-shadow(0rem 2rem 4rem rgba($standard-black,0.8));
}
.feedback{
    margin: 5rem auto;
    max-width:100rem;
    height: 50rem;
    background-size: cover;
    background-image:url(img/shopping-2.jpg);
    //box-shadow: 0 2rem 4rem rgba($standard-black,0.8);
    clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%,0 100%);
    position: relative;
    &--area{
        padding:1.5rem;
        z-index:1;
        position: absolute;
        top:0;
        left:0;
        width:55%;
        height: 100%;
        background-color:rgba($standard-yellow,0.7) ;
        &--submit{
            transform: translateY(-50%);
            border-radius:1.5rem;
            background-color: rgba($standard-black,0.8);
            position: absolute;
            letter-spacing: 2px;
            right:1%;
            top:50%;
            font-size: 2rem;
            text-transform: uppercase;
            padding:1.2rem 2.2rem;
            color: $standard-yellow;
            text-decoration: none;
            border:none;
            &:hover{
                border:4px solid $standard-purple;
                transform: translate(4px,-50%);
                background-color: black;
            }
        }
    }
    
   
}

.form{
    &__group:not(:last-child){
        margin-bottom: 2rem;

    }
    &__input{
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($standard-white,.5);
        border: none;
        width:50%;
        &:focus{
            outline:none;
            box-shadow: 0 1rem 2rem rgba($standard-black,0.8);
            border-bottom: 3px solid rgba($standard-purple,0.8);
        }
    }
    &__textarea{
        text-align:left;
        width:50%;
        font-size:1.5rem;
        font-family:Arial, Helvetica, sans-serif;
        padding:1.5rem 2rem;
        background-color: rgba($standard-white,.5);
        border: none;
        &:focus{
            outline:none;
            box-shadow: 0 1rem 2rem rgba($standard-black,0.8);
            border-bottom: 3px solid rgba($standard-purple,0.8);
        }
    }
}


@media only screen and (max-width:700px){
    .heading-usual-3{
        font-size:5rem;
    }
}

@media only screen and (max-width:500px){
    .heading-usual-3{
        font-size:4rem;
    }
}