.heading-button{     
    letter-spacing: 0.3rem;    
    text-decoration: none;
    border-radius: 2em;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding:1.7rem 4rem;
    margin-top:2rem;
    text-align: center;
    font-size: 2rem;     
    &:link,
    &:visited{
        box-shadow: 0 0.5rem 1rem rgba($standard-black, 0.6);        
        background-color: $standard-green;
        color:$standard-black;
        animation: MoveInBottom 1s 1.5s ease-in-out;
        animation-fill-mode: backwards;
    }
    &:hover{
        color:$standard-black;
        font-weight: bold;
        box-shadow: 0 1rem 2rem rgba($standard-black, 0.6);  
        background-color:$standard-yellow;
        transition: all 0.2s;
        transform: translateY(-0.3rem);
    }
    &:active{
        font-weight: bold;
        box-shadow: 0 0.5rem 1rem rgba($standard-black, 0.6);
        background-color: $standard-yellow;
        color:$standard-black;
        transform: translateY(-0.1rem);
        transition: all 0.2s;
    }
}

.back-to-top{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    text-decoration: none;
    z-index:100;
    padding-top: 0.5rem;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 13rem;
    height: 3rem;
    border-radius: 1rem;
    text-align: center;
    &:link,
    &:visited{
        background-color: rgba($standard-black, 0.6);
        color: $standard-yellow;
    }
    &:hover{
        color: $standard-yellow;
        font-weight: bold;
        background-color: rgba($standard-black,1);
        box-shadow: 0rem 1rem 2rem rgba($standard-black, 0.6);
    }
    &:active{
        color: $standard-black;
        background-color: rgba($standard-yellow,1);
        box-shadow: 0rem 1rem 2rem rgba($standard-black, 0.6);
        font-weight: bold;
    }

}