.heading--margin--bottom--large{
    margin-bottom: 8rem;
}

.heading--margin--bottom--medium{
    margin-bottom: 4rem;
}

.heading--margin--bottom--small{
    margin-bottom: 2rem;
}

.heading--margin--top--large{
    margin-top: 8rem;
}

.margin--top--small{
    margin-top: 2rem;
}

.heading--margin--both--large{
    margin-top: 8rem;
    margin-bottom: 8rem;
}
.center-align{
    text-align: center;
}